/*显示省略号*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* flex 垂直水平居中 */
.xmf-system-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 设置字体 */
@font-face {
  font-family: 'FZZJ';
  src: url(../font/FZZJ-HGXSJW.TTF);
}

.fzzj {
  color: tomato;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: FZZJ, Georgia, 'Times New Roman', Times, serif;
}

.el-image-viewer__wrapper {
  z-index: 3000!important;
}
